.container {
  padding-top: 25px;
  padding-bottom: 50px;
}

#backpacker {
  width: 400px;
  height: 80px:
}

#airbnb {
  width: 400px;
  height: 266.5px;
}

#cruiseship {
  width: 400px;
  height: 266.5px
}
