.container {
  padding-top: 25px;
  padding-bottom: 50px;
}

#backpacker {
  margin: auto;
  display: none;
  width: 800px;
  height: 500px;
}

#airbnb {
  display: none;
  width: 800px;
  height: 533px;
}

#cruiseship {
  display: none;
  width: 800px;
  height: 533px
}

#inputs {
  margin-left: 10%;
  margin-right: 10%;
}
