.container {
  width: 1000px;
  max-width: 75%;
  padding-top: 25px;
  padding-bottom: 20px;
}

.buttonholder {
  text-align: center;
  margin-top: 10px;
}

#backpacker {
  display: none;
  margin-left: 10px;
  width: 600px;
  height: 400px;
}

#backpackerdescript {
  display: none;
  text-align: center;
  margin-left: 10px;
}

#airbnb {
  display: none;
  width: 600px;
  height: 400px;
}

#airbnbdescript {
  display: none;
  text-align: center;
  margin-left: 650px;
}

#cruiseship {
  display: none;
  width: 600px;
  height: 400px
}

#cruisedescript {
  display: none;
  text-align: center;
  margin-left: 1250px;
}

#inputs {
  margin-left: 10%;
  margin-right: 10%;
}

#output {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
}
